/*--------------------------------------------------------------
# Blood Request Section
--------------------------------------------------------------*/
#blood-request {}

#requestTable i {
    color: #ea062b;
    font-size: 1.1em;
}

#usersTable i {
    color: orange;
    font-size: 1.1em;
}

.blood-request .content {
    padding: 30px;
    background: #111111;
    border-radius: 4px;
    color: #fff;
}

.blood-request .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.blood-request .content p {
    margin-bottom: 30px;
}

.blood-request .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.blood-request .content .more-btn i {
    font-size: 14px;
}

.blood-request .content .more-btn:hover {
    color: #1977cc;
    background: #fff;
}

.blood-request .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
}

.blood-request .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}