/*--------------------------------------------------------------
# Blood Request Section
--------------------------------------------------------------*/
.blood-request .content {
    padding: 15px;
    background: #111111;
    border-radius: 4px;
    color: #fff;
}

#requestTable i {
    color: #ea062b;
    font-size: 1.1em;
}

#usersTable i {
    color: orange;
    font-size: 1.1em;
}